<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KartalGozEntities2" connectionString="metadata=res://*/KartalGozFullModel.csdl|res://*/KartalGozFullModel.ssdl|res://*/KartalGozFullModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DOGUKAN-PC;Initial Catalog=KartalGoz;Persist Security Info=True;User ID=sa;Password=dogukanbaba;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="KartalGozEntities" connectionString="metadata=res://*/KartalGozFullModel.csdl|res://*/KartalGozFullModel.ssdl|res://*/KartalGozFullModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WISOFT;Initial Catalog=KartalGoz;Persist Security Info=True;User ID=sa;Password=34563456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>